body {
    height: 100%;
    font-family: "Open Sans";
    color: white;
    background-color: black;
}


#output {
    margin-top: 5%;
    height:50%;
    line-height: 10%;
    font-weight: bold;
    color: white;
    font-size: 30pt;
    font-size: 15vw;
}

#control {
    height: 50%;
    border: 1px solid lightgrey;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}

#showtime {
    color: white;
    }

#showStopwatch {
    color: yellow;
}

#datetime {
    color: green;
}

.h1 {
  font-size: 14pt;
  font-weight: bold;

}
.top {
  border-bottom-style: solid;
  padding: 10px 10px 10px 0px;
  margin: 0px 0px 40px 0px;
}

.highl1 {
  font-weight: bold;
  font-size: 30pt;
}


.timeInput {
    width: 50px
}
