body {
    font-family: "Open Sans";
    color: white;
    background-color: black;
    box-sizing: border-box;
}

.row {
  display: flex;
}

#control {
    flex: 15%;
    height: 100%;
    border-left: 1px solid white;
    padding: 25px 25px 25px 25px;
}

#output {
    flex: 85%;
    height:100%;
    line-height: 5%;
    font-weight: bold;
    color: white;
    font-size: 30pt;
    font-size: 10vw;
    padding-left: 5%;
}


#showtime {
    color: white;
    }

#showStopwatch {
    color: yellow;
}

#datetime {
    color: green;
}

.h1 {
  font-size: 14pt;
  font-weight: bold;

}
.top {
  border-bottom-style: solid;
  padding: 10px 10px 10px 0px;
  margin: 0px 0px 40px 0px;
}

.highl1 {
  font-weight: bold;
  font-size: 30pt;
}


.timeInput {
    width: 50px
}
