body {
  font-family: "Open Sans";
}

.h1 {
  font-size: 14pt;
  font-weight: bold;

}
.top {
  text-align: center;
  border-bottom-style: solid;
}

.highl1 {
  font-weight: bold;
  font-size: 30pt;
}

.red {
  font-weight: bold;
  font-size: 30pt;
  color: red;
}

.timer {
    border: 1px solid green;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}

.timeInput {
    width: 50px
}
